:root{
    --principal-color: #EBDCC1;
    --second-color: #C1A571;
    --third-color: #463F3F;
    --fourth-color: #046F9D;
    --fifth-color: #000000;
    --avaible-color: #347133;
    --notavaible-color: #960808;

    --principal-font: 'Jomhuria', cursive;
    --second-font: 'Josefin Sans', sans-serif;
}

*{
    /* outline: 1px solid limegreen; */
}


body{
    font-family: var(--principal-font);
    background-color: var(--principal-color);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    /*overflow-x: hidden; */
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--fourth-color);
}
::-webkit-scrollbar-track{
    background-color: var(--third-color);
}


/* mobile display block/none */

    /* .content-photoholder , .content-box, .content-photoholder-boxphoto, 
    .content-photoholder-boxphoto2, .content-photoholder-photo, 
    .content-photoholder-boxphoto3, .content-photoholder-arrow,
    .content-photoholder-arrow2, .content-box-choose, 
    .content-box-choose-img, .content-box-choose-text {
        display: none;
    }

    @media only screen and (max-width: 500px){

        .content-photoholder , .content-box, .content-photoholder-boxphoto, 
        .content-photoholder-boxphoto2, .content-photoholder-photo, 
        .content-photoholder-boxphoto3, .content-photoholder-arrow,
        .content-photoholder-arrow2, .content-box-choose, 
        .content-box-choose-img, .content-box-choose-text {
            display: block;
        }

    } */

/* PRINCIPAL */

.header{
    width: 100%;
    /* height: 30%;  /* 5.5rem 12.04vh; */
    border-bottom: 1px solid var(--third-color);
    font-family: var(--principal-font);
    background-color: var(--second-color);
}

.content{
    width: 100%;
    height: 77.5vh; /* 39.9rem 79.4vh */
    min-height: 735px; /* 39.9rem 79.4vh */
    font-family: var(--principal-font);
}

.footer{
    width: 100%;
    height: 10%; /* nulla */
    max-height: 40px;
    padding: 20px 0;
    border-top: 1px solid var(--third-color);
    font-family: var(--principal-font);
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--fourth-color);
}


/* HEADER */


.header-top{
    width: 100%;
    height: 60%;
    display: flex;    
    border-bottom: 1px solid var(--third-color);
    align-items: center;
    align-content: space-evenly;
}

.header-bottom{
    width: 100%;
    height: 40%;
    display: inline-flex;
    max-width: 60%;
    padding-left: 20%;
    font-family: var(--second-font);
}



@media only screen and (max-width: 1100px){

    .header-bottom-mobile{
        padding-left: 0%;
        max-width: 99%;
    }

    .header-bottom-choose-end-mobile{
        border-right: 0px solid var(--third-color) !important;
    }

}

@media only screen and (max-width: 700px){

    .header-bottom-choose{
        display: none;
    }

    .header-bottom-mobile{
        width: 100%;
    }

    .header-bottom-path-mobile{
        width: 100%;
        text-align: center;
        display: block;
        margin: auto;
    }

}

@media only screen and (max-width: 500px){

    .header-top-title{
        font-size: 2.5rem !important; /* 7.407vh */
    }

    .header-top-1{
        width: 5%;
        min-width: 50px !important;
        display: flex;
        justify-content: center;
    }

    .header-top-homepng{
        margin-left: 10% !important;
    }
    
    .header-top-facebookimg{
        margin-left: -10% !important;
    }









    .content{
        width: 100%;
        max-width: 1910px;
        margin: auto;
        /* height: 77.5vh; /* 39.9rem 79.4vh */
        /* min-height: 735px; /* 39.9rem 79.4vh */
        height: unset;
        min-height: unset;
        margin-bottom: 20px;
        font-family: var(--principal-font);
    }
    
    .footer{
        width: 100%;
        height: 40px;
        padding: 20px 0;
        border-top: 1px solid var(--third-color);
        font-family: var(--principal-font);
    }

}




/* header top */

.header-top-title{
    color: var(--fifth-color);
    font-size: 5rem; /* 7.407vh */
    font-weight: 400;
}

.header-top-homepng{
    width: 45px;
    height: 45px;
}

.header-top-facebookimg{
    width: 45px;
    height: 45px;
}

.header-top-1{
    width: 5%;
    min-width: 80px;
    display: flex;
    justify-content: center;
}

.header-top-2{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* header bottom */

.header-bottom-choose{
    color: var(--fifth-color);
    font-weight: bold;
    width: 20%;
    min-width: 20%;
    height: 100%;
    border-left: 1px solid var(--third-color);
    text-align: center;
    font-size: 1.750rem;
    line-height: 3.2rem;
}

.header-bottom-path{
    color: var(--fifth-color);
    font-weight: normal;
    /* width: 20%; */
    width: 100%;
    min-width: 20%;
    height: 100%;
    text-align: center;
    font-size: 1.750rem;
    line-height: 3.2rem;
}

.header-bottom-choose-end{
    border-right: 1px solid var(--third-color);
}



/* FOOTER */

.footer-textbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    color: var(--third-color);
}

.footer-textbox-text{
    width: 10rem;
    text-align: center;
    font-family: var(--second-font);
    font-size: 1.875rem;
    font-weight: bold;
}

.footer-textbox-text2{
    width: 10rem;
    text-align: center;
    font-family: var(--second-font);
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--third-color);
}





/* CONTENT */


.content-top{
    width: 100%;
    height: 25%;
    max-height: 180px;
    /* border: 1px solid red; */
}

.content-bottom{
    width: 100%;
    height: 75%;

    display: flex;
}

.content-top-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-top-container-text{
    width: 100%;
    height: 69%;
    font-size: 12.500rem;
    font-family: var(--principal-font);
    text-align: center;
    overflow: hidden;
    color: var(--third-color);
}

.content-top-container-text2{
    width: 100%;
    height: 9%;
    font-size: 1.500rem;
    font-family: var(--second-font);
    text-align: center;
    color: var(--third-color);
}



.content-bottom-left{
    width: 52%;
    height: 100%;
    /* border: 1px solid blue; */

    display: flex;
}

.content-bottom-left-left{
    width: 450px;
    height: 500px;

    /* border: 1px solid gold; */

    margin-left: 26px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.content-bottom-left-left-img2{
    width: 142px;
    height: 142px;
    max-width: 142px;
    margin-left: auto;
    border: 1px solid var(--second-color);
    margin-bottom: 29px;
}

.content-bottom-left-left-img3{
    width: 142px;
    height: 142px;
    max-width: 142px;
    margin-left: auto;
    border: 1px solid var(--second-color);
}

.content-bottom-left-left-img{
    width: 489px;
    height: 489px;
    max-width: 489px;
    border: 1px solid var(--second-color);
}

.content-bottom-left-right{
    width: 55%;
    min-width: 550px;
    height: 500px;

    /* border: 1px solid rgb(174, 0, 255); */

    display: flex;
    justify-content: center;
    margin-top: 25px;    
}



.content-bottom-right{
    width: 43%;
    height: 100%;
    /* border: 1px solid rgb(0, 255, 0); */

    display: flex;
    flex-direction: column;
}


.content-bottom-right-top{
    width: 100%;
    height: 136px;

    /* border: 1px solid black; */
    margin-top: 25px;    
}


.content-bottom-right-top-text1{
    width: 100%;
    height: 23%;
    font-size: 2.500rem;
    color: var(--third-color);
    font-family: var(--second-font);
    font-weight: bold;    
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 15px;
}

.content-bottom-right-top-text2{
    width: 100%;
    height: 19%;
    font-size: 1.875rem;
    color: var(--third-color);
    font-family: var(--second-font);
    overflow: hidden;
}



.content-bottom-right-mid{
    width: 100%;
    height: 191px;

    /* border: 1px solid rgb(103, 122, 228); */
}

.content-bottom-right-bottom{
    width: 98.7%;
    height: 152px;
    padding: 5px;

    overflow-y: auto;

    border: 1px solid var(--second-color);
}

/* .content-bottom-right-bottom::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome 
} */


.content-bottom-right-mid-button{
    width: 231px;
    height: 55px;
    color: var(--fourth-color);
    background-color: var(--second-color);
    font-size: 1.4rem;
    font-weight: bold;
    font-family: var(--second-font);
    border: 0px;
}

.content-bottom-right-mid-text{
    font-size: 1.3rem;
    color: var(--fifth-color);
    font-weight: bold;
    font-family: var(--second-font);
    margin-left: 18px;
}

.content-bottom-right-mid-text2{
    color: var(--third-color);
    font-size: 1.250rem;
    font-family: var(--second-font);
    margin-top: 30px;
    margin-bottom: 57px;
}


.content-bottom-right-mid-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content-bottom-right-mid-bottom-text3{
    width: 100%;
    font-size: 1.563rem;
    font-weight: bold;
    color: var(--fifth-color);
    font-family: var(--second-font);
}

.content-bottom-right-mid-bottom-status-btn{
    width: 90px;
    height: 30px;
    color: var(--avaible-color);
    font-family: var(--second-font);
    font-size: 0.938rem;
    font-weight: bold;
    background-color: var(--principal-color);
    border: 1px solid var(--second-color);
    border-bottom: 0px;
}

.content-bottom-right-bottom-text{
    color: var(--third-color);
    font-size: 1.250rem;
    font-family: var(--second-font);
}




.content-bottom-left-left-mobile, .content-bottom-left-left-mobile-container, .content-top-mobile, .content-bottom-mobile{
    display: none;
}

@media only screen and (max-width: 1400px){

    .content-bottom-left-left{
        display: none;
    }
    
    .content-bottom-left-right{
        width: 95%;
        min-width: 0px;
        margin-top: 25px;    
        justify-content: flex-end;
        padding-right: 30px;
    }

    .content-top-container-text{
        width: 100%;
        height: 60%;
        font-size: 9.8rem;
        font-family: var(--principal-font);
        text-align: center;
        overflow: hidden;
        color: var(--third-color);
    }
    
    .content-top-container-text2{
        width: 100%;
        height: 18%;
        font-size: 1.500rem;
        font-family: var(--second-font);
        text-align: center;
        color: var(--third-color);
    }

}


@media only screen and (max-width: 1100px){ /* tablet */

    .content-top, .content-bottom{
        display: none;
    }

    .content-top-mobile, .content-bottom-mobile{
        display: block;
    }


    /* content-top */

    .content-photoholder-arrow {
        transform: rotate(-90deg);
        position: absolute;
        margin-top: 26%;
        margin-left: 3%;
        cursor: pointer;
    }

    .content-photoholder-arrow2 {
        transform: rotate(90deg);
        position: absolute;
        margin-top: 26%;
        margin-left: 86%;
        cursor: pointer;
    }

    .content-photoholder{
        width: 100%;
        height: 40%;
        display: flex;
    }

    .content-photoholder-boxphoto{
        width: 12.5%;
        /* height: 100%; */
        border-bottom: 1px solid var(--second-color);
        background-color: var(--fifth-color);
        filter: brightness(0.3);
    }

    .content-photoholder-boxphoto2{
        width: 75%;
        height: 100%;
        border-bottom: 1px solid var(--second-color);
        border-left: 1px solid var(--second-color);
        border-right: 1px solid var(--second-color);
    }

    .content-photoholder-boxphoto3{
        width: 12.5%;
        /* height: 100%; */
        border-bottom: 1px solid var(--second-color);
        background-color: var(--fifth-color);
        filter: brightness(0.3);
    }

    .content-photoholder-photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 100%;
    }

    .content-photoholder-photoend{
        object-position: 0%;
    }


    /* content bottom */

    .content-bottom-top-mobile{
        width: 100%;
        height: 130px; /* 16vh */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .content-bottom-top-text{
        height: 30%;
        color: var(--fifth-color);
        font-size: 1.3rem;
        font-weight: bold;
        font-family: var(--second-font);
        text-align: center;
    }

    .content-bottom-top-text2{
        height: 30%;
        color: var(--third-color);
        font-size: 0.938rem;
        font-family: var(--second-font);
        text-align: center;
    }

    .content-bottom-top-btn{
        width: 200px;
        height: 30px;
        color: var(--fourth-color);
        background-color: var(--second-color);
        font-size: 0.85rem;
        font-weight: bold;
        font-family: var(--second-font);
        border: 0px;
    }

    .content-bottom-mid-mobile{
        width: 83.5%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 10px;
    }
    
    .content-bottom-right-mid-bottom-text3{
        width: 100%;
        font-size: 0.938rem;
        margin-top: 10px;
        font-weight: bold;
        color: var(--fifth-color);
        font-family: var(--second-font);
    }
    
    .content-bottom-right-mid-bottom-status-btn{
        width: 90px;
        height: 30px;
        color: var(--avaible-color);
        font-family: var(--second-font);
        font-size: 0.938rem;
        font-weight: bold;
        background-color: var(--principal-color);
        border: 1px solid var(--second-color);
        border-bottom: 0px;
    }


    .content-bottom-bottom-mobile{
        width: 80%;
        height: 20%;
        border: 1px solid var(--second-color);
        margin: auto;
        overflow-y: auto;
        padding: 5px;
    }

    .content-bottom-right-bottom-text{
        color: var(--third-color);
        font-size: 0.938rem;
        font-family: var(--second-font);
    }


}

@media only screen and (max-width: 500px){

    
    .content-bottom-bottom-mobile{
        width: 80%;
        height: 20vh;
        border: 1px solid var(--second-color);
        margin: auto;
        overflow-y: auto;
        padding: 5px;
    }
    
}